#app {
    width: 100%;
    height: 800px;
    background-color:blue;
}

body {
    background-color: blue;
}

.container {
    text-align: center;
}

#mycarousel {
    background-color: red;
}

#mycarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

#mycarouse2 {
    background-color: #b5d0d4;
}

#mycarouse2 img {
    height: 300px;
    margin-top: 35px;
}
